
        <div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-3 col-sm-offset-2">



            <div class="mdl-layout mdl-js-layout mdl-color--grey-100">
                <div class="card card-cascade wider">

                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
                      <!--<a href="#!">
                        <div class="mask rgba-white-slight"></div>
                      </a>-->
                      <a>
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>
                  
                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center "> <!--pb-0-->
                  
                      <!-- Title -->
                      <h4 class="card-title"><strong>{{docteurcard.nomdoc}}</strong></h4>
                      <!-- Subtitle -->
                      <h5 class="blue-text pb-2"><strong>{{docteurcard.prenomsdoc }}</strong></h5>
                      <!-- Text -->
                      <p class="card-text">{{docteurcard.adressemaildoc}} </p>
                      <p class="card-text">{{docteurcard.numerotelephonedoc}} </p>
                      <p class="card-text">{{docteurcard.adressepostaldoc}} </p>
                      
                  
                      <!-- Linkedin 
                      <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a> -->
                      <button class="mdl-button mdl-button--icon mdl-button--colored fab px-2 fa-lg tw-ic" mat-mini-fab (click)="selectDocteur(docteurcard)"><i class="material-icons">edit</i></button>
                      <!-- Twitter -->
                      <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
                      <!-- Dribbble  -->
                      <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>
                  
                      <!-- Card footer 
                      <div class="card-footer text-muted text-center mt-4">
                        2 days ago
                      </div> -->
                  
                    </div>
                  
                  </div>
            </div>


        </div>


<!-- exemple code card-->



<!-- Card Wider -->

  <!-- Card Wider -->
  

  
 
  <!-- Card Regular -->






   